.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height));

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
  }

  &__title {
    color: var(--clr-dark);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__description {
    color: var(--clr-medium);
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  &__ca-btn {
    background-color: var(--clr-dark);
    border-radius: 0.2rem;
    color: var(--clr-text-light);
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    transition: var(--transition);
    width: 12rem;

    &:hover {
      background-color: var(--clr-medium);
      transform: scale(1.02);
    }
  }

  &__right-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    position: relative;
  }

  &__image-small {
    border-radius: 5rem 1rem 1rem 1rem;
    bottom: 0;
    height: 15rem;
    position: absolute;
    right: 5rem;
  }

  &__image-big {
    border-radius: 1rem 5rem 1rem 5rem;
    width: 20rem;
  }
}

@media screen and (max-width: 830px) {
  .hero {
    min-height: 60vh;

    &__wrapper {
      flex-direction: column;
    }

    &__description {
      text-align: center;
    }

    &__title {
      font-size: 2rem;
    }

    &__left-content {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__right-content {
      display: none;
    }
  }
}
