.products-list {
  display: flex;
  flex-direction: column;

  &__item {
    align-items: flex-start;
    display: flex;
    height: 14rem;
    margin-bottom: 0.5rem;
  }

  &__image {
    background-size: cover;
    border-radius: 0.3rem;
    flex: 1;
    height: 100%;
    margin: 0 1.5rem 0.5rem 0;
    object-fit: cover;
    width: 100%;
  }

  &__info {
    flex: 1;
    height: 100%;
  }

  &__name {
    color: var(--clr-dark);
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__price {
    color: var(--clr-light);
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: var(--clr-text-dark);
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__button {
    align-items: center;
    background-color: var(--clr-light);
    border-radius: 0.2rem;
    color: var(--clr-neutral);
    display: flex;
    font-size: 0.9rem;
    height: 1.8rem;
    justify-content: center;
    transition: var(--transition);
    width: 5rem;

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 900px) {
  .products-list {
    &__item {
      flex-direction: column;
      height: auto;
      margin-bottom: 2rem;
    }

    &__button {
      font-size: 1.2rem;
      height: 3rem;
      width: 10rem;
    }
  }
}
