.cart {
  min-height: 100vh;
  padding: 2rem 0 8rem 0;

  &__total {
    font-size: 1.2rem;
    color: var(--clr-text-dark);
    margin-bottom: 1rem;
    display: flex;
  }

  &__summary-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__summary {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-dark);
    border-radius: 0.3rem;
    padding: 2rem;
  }

  &__summary-btn {
    border: none;
    background-color: var(--clr-light);
    cursor: pointer;
    color: var(--clr-neutral);
    font-size: 1.1rem;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    transition: var(--transition);

    &:hover {
      transform: scale(1.02);
    }
  }

  &__total-value {
    margin-left: 0.5rem;
  }
}

@media (max-width: 600px) {
  .cart {
    padding: 1rem 0;

    &__summary {
      align-self: center;
      width: 100%;
      margin: 0;
    }
  }
}
