.quantity-buttons {
  align-items: center;
  color: var(--clr-text-dark);
  display: flex;
  justify-content: space-between;
  width: 7rem;

  &__icon {
    cursor: pointer;
    font-size: 1.1rem;

    &:hover {
      color: var(--clr-light);
    }
  }

  &__value {
    font-size: 2.1rem;
    font-weight: 600;
    margin: 0 1rem;
  }
}
