.product {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0rem 0 3rem 0;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__back-link {
    align-items: center;
    background-color: var(--clr-light);
    border-radius: 0.2rem;
    color: var(--clr-neutral);
    display: flex;
    height: 3rem;
    justify-content: center;
    margin: 4rem 0 2rem 0;
    transition: var(--transition);
    width: 12rem;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__content {
    display: flex;
  }

  &__left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0rem 4rem 0rem 0rem;
    position: relative;
  }

  &__image {
    height: 30rem;
    margin-bottom: 1rem;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__more-images {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    width: auto;
  }

  &__image-small {
    border-radius: 0.2rem;
    cursor: pointer;
    max-width: 100%;
    transition: var(--transition);

    &:hover {
      transform: scale(1.05);
    }
  }

  &__right-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  &__title {
    color: var(--clr-dark);
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__price {
    color: var(--clr-light);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__description {
    color: var(--clr-medium);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__details {
    border-bottom: 1px solid var(--clr-light);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__details-item {
    align-items: center;
    display: flex;
    margin-bottom: 0.2rem;
  }

  &__details-item-title {
    color: var(--clr-dark);
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 1rem;
  }

  &__details-item-value {
    color: var(--clr-medium);
    font-size: 1.1rem;
  }

  &__add-btn {
    align-items: center;
    background-color: var(--clr-light);
    border-radius: 0.3rem;
    border: none;
    color: var(--clr-neutral);
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    height: 3rem;
    justify-content: center;
    margin: 1.1rem 0rem 0.2rem 0rem;
    transition: var(--transition);
    width: 12rem;

    &:hover {
      transform: scale(1.02);
    }
  }
}

// Media queries

@media screen and (max-width: 1100px) {
  .product {
    &__content {
      flex-direction: column;
    }

    &__left-content {
      margin: 0rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .product {
    &__cart-container {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}
