.navbar {
  background-color: var(--clr-dark);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    color: var(--clr-text-light);
  }

  &__logo {
    font-size: 2rem;
  }

  &__navlinks {
    display: flex;
    align-items: center;
  }

  &__navlink {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      color: var(--clr-accent-dark);
    }
  }

  &__shopping-cart {
    margin-left: 0.2rem;
    font-size: 1.2rem;
  }

  &__btn{
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    color: var(--clr-text-light);
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      color: var(--clr-accent-dark);
    }

  }
}
