.work {
  // background-color: var(--clr-lighter);
  padding: 4rem 0;
  width: 100vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--clr-dark);
    margin-bottom: 1.5rem;
  }

  &__description {
    color: var(--clr-medium);
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  &__boni {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__boni-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--clr-dark);
    border-radius: 0.5rem;
    background-color: var(--clr-light);
    height: 20rem;
    width: 24rem;
  }

  &__boni-title {
    font-size: 1.2rem;
    color: var(--clr-dark);
    margin-bottom: 0.5rem;
  }

  &__boni-text {
    color: var(--clr-medium);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
