.footer {
  align-items: center;
  background-color: var(--clr-footer);
  display: flex;
  height: var(--footer-height);
  justify-content: center;

  &__copyright {
    color: var(--clr-text-light);
    font-size: 1rem;
  }
}
