.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  gap: 3rem 1rem;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--clr-dark);
  margin-bottom: 3rem;
  padding: 1rem 0;
  height: auto;
}
