.cart-header {
  border-bottom: 1.5px solid var(--clr-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  justify-items: center;
  margin: 5rem 0 1rem 0;
  padding-bottom: 0.5rem;

  &__item {
    color: var(--clr-text-dark);
    font-size: 1.1rem;
  }

  &__divider {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .cart-header {
    grid-template-columns: 1fr 1fr 0.5fr;

    &__item-price {
      display: none;
    }

    &__item-subtotal {
      display: none;
    }
  }
}
