.cart-item {
  align-items: center;
  border-bottom: 1px solid var(--clr-dark);
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  height: auto;
  justify-items: center;
  margin-bottom: 3rem;
  padding: 1rem 0;

  &__product {
    margin: 0.1rem;
  }

  &__name {
    color: var(--clr-text-dark);
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  &__price {
    color: var(--clr-text-dark);
    font-size: 1.1rem;
  }

  &__subtotal {
    color: var(--clr-text-dark);
    font-size: 1.1rem;
  }

  &__remove-btn {
    background: transparent;
    border: none;
    color: var(--clr-text-dark);
    cursor: pointer;
  }

  &__icon {
    color: var(--clr-text-dark);
    font-size: 1.4rem;
    transition: var(--transition);

    &:hover {
      color: var(--clr-accent-dark);
    }
  }
}

@media (max-width: 600px) {
  .cart-item {
    grid-template-columns: 1fr 1fr 0.5fr;

    &__price {
      display: none;
    }

    &__subtotal {
      display: none;
    }
  }
}
