.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  justify-content: center;

  &__title {
    color: var(--clr-medium);
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    color: var(--clr-medium);
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
